body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inutFields {
  display:block;  
 }

 label.labelOnTheTop {
  display:flex;  
 }

 label.labelOnTheLeft {  
  float:right;
 }

 form {
  display: inline-block;
}

body {
  text-align: center;
}

div {
  width: 100%;  
  margin-top:10px;
  display:block;
}

.chkbox {
 float:left;
 padding:0px;
}

.smallText{
  font-size:8px;
  float:left;
  margin-right:10px;
}

.submit {
  margin-top:10px;
  float:left;
  display:block;
}


